

.ql-container {
  height: calc(100% - 43px);
}

.code-font-size {
  font-size: 13px;
}

.copy-image {
  top: 3px;
}

.title-area {
    padding: 10px 15px 0 15px;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.title {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    width: 100%;
    font-size: 1.3rem;
    margin: 0 0 1px 0;
}

.title-area .title {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif; 
  width: 100%; 
  font-size: 1.3rem; 
  margin: 0 0 1px 0; 
}

.subtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.7rem;
    letter-spacing: 1px;
    color: #999;
}

.main-header {
  height: 60px;
  min-height: 60px;
  background-color: #1d1f21;
}

.icon-image {
  height: 40;
  width: 40;
  margin-right: 10px;
}

.bg-color {
  background-color: #1d1f21;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.monospace{
  font-family: monospace,monospace;
}

.white-color {
  color: white;
}

.bg-color a {
  a.selected: white;
  color: white; 
}

.half { 
  height: 50%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}