.bottom-bar {
  background: #222;
}

.bottom-bar span {
  padding: 5px;
}

body {
  min-width: 470px;
}

.scroll-enabled {
  overflow-y: auto;
}

.tabbar li .tab-name {
    color: #fff;
    padding: 5px 20px 5px 20px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

nav {
  width: 100%;
}

.swift-border-color {
  border-top: 3px solid #fe3926;
}

.objective-c-border-color {
  border-top: 3px solid #4dabe3;
}

.copy-border-color {
  border-top: 3px solid #fcd000;
}

.tabbar li .tab-contents {
    cursor: pointer;
}

.tabbar li .copy-button {
  background-color: #222;
  border: 0px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}


.tabbar li {
    opacity: 0.3333;
    display: inline-block;
    color: #1d1f21;
    height: 33px;
    font-size: 0.85rem;
}

.tabbar li.selected-tab{
    opacity: 1;
}

.tabbar li.full-opacity{
    opacity: 1;
}

.tabbar ul {
    list-style: none;
    padding-left: 0px;
    height: 33px;
    background: #222;
    box-shadow: inset 0 1px 1px 0 black;
    margin-bottom: 0;
}

.tabbar-bg-color {
  background-color: #222;
}

.ql-container {
  height: calc(100% - 43px);
}

.code-font-size {
  font-size: 13px;
}

.copy-image {
  top: 3px;
}

.title-area {
    padding: 10px 15px 0 15px;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.title {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    width: 100%;
    font-size: 1.3rem;
    margin: 0 0 1px 0;
}

.title-area .title {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif; 
  width: 100%; 
  font-size: 1.3rem; 
  margin: 0 0 1px 0; 
}

.subtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.7rem;
    letter-spacing: 1px;
    color: #999;
}

.main-header {
  height: 60px;
  min-height: 60px;
  background-color: #1d1f21;
}

.icon-image {
  height: 40;
  width: 40;
  margin-right: 10px;
}

.bg-color {
  background-color: #1d1f21;
}

pre {
    background: red;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.monospace{
  font-family: monospace,monospace;
}

.white-color {
  color: white;
}

.bg-color a {
  a.selected: white;
  color: white; 
}

.top-half {
  height: calc(50% - 40px);
}

.bottom-half { 
  height: calc(50% - 53px - 26px);
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}